.sidebar {
    width: 250px;
    background-color: #2d8d4b;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 700px;
}

.sidebar h2 {
    margin: 0 0 20px;
    text-align: left;
    margin-left: 10px;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-left: -10px;
    flex: 1;
}

.sidebar li {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebar ul li:last-child {
    margin-top: 90px;
}

.sidebar li:hover,
.sidebar li.active {
    background-color: #236c3d;
}

.sidebar li .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar li.active .text {
    font-weight: bold;
}

.sidebar li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .sidebar ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidebar li {
        flex: 1 1 50%;
        margin: 10px 0;
    }
}
